@bp0: ~"(min-width: 1000px)";
@bp1: ~"(max-width: 1000px)";
@bp2: ~"(max-width: 680px)";
@lineHeight: 1.7rem;
@linkColor: #eb008b;
@tableBgColor: #CCCCCC;
@tableHdrBgColor: #815789;
@tableHdrTextColor: white;
@border: 2px solid @tableBgColor;
@borderHdr: 2px solid @tableHdrBgColor;
@baseFontSize: .8rem;

table.chris-table {

  font-family: arial, sans-serif;

  * {
    box-sizing: border-box;
    overflow: hidden;
  }

  width: 100%;
  border-collapse: collapse;

  // TODO: Remove !important.
  .hide-lg {
    display: none !important;
    @media @bp1, @bp2 {
      display: block !important;
    }
  }

  thead {

    // Hide the header when screen is narrow.
    @media @bp1 {
      display: none;
    }

    tr {
      background-color: @tableHdrBgColor;
      border: @borderHdr;
      border-bottom: 0;
      th {
        white-space: nowrap;
        font-size: @baseFontSize;
        line-height: @lineHeight;
        font-weight: normal;
        color: @tableHdrTextColor;
      }
    }
  }

  tbody {

    tr {

      margin-bottom: 8px;
      border: @border;
      border-radius: 8px;

      &:first-child {
        @media @bp0 {
          border-top: 0;
        }
      }

      .resp {
        width: 100% !important;
        display: flex;
        flex-wrap: wrap;
      }

      @media @bp1, @bp2 {
        .resp;
      }

      td {

        height: 185px;
        background-color: white;
        text-align: center;
        vertical-align: middle;
        padding: 16px;

        @media @bp1 {
          height: auto;
          width: 33.33%;
          &:first-child, &:last-child {
            width: 100%;
          }

          &:nth-last-child(2), &:nth-last-child(3) {
            width: 50%;
          }
        }

        @media @bp2 {
          height: auto;
          width: 50%;
          &:first-child, &:last-child, &:nth-last-child(2) {
            width: 100%;
          }
        }

        .td-div {

          height: 100%;
          display: flex;
          flex: 1;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .td-title {
            font-weight: 700;
            margin-bottom: 8px;
          }

          .text1 {
            font-size: 26px;
            font-weight: 700;
            color: #4F145A;
          }

          .text2 {
            font-size: 12px;
          }

          a {
            white-space: nowrap;
            color: @linkColor;
            font-size: @baseFontSize;
            font-weight: 700;
          }

          > div {

            @media @bp1, @bp2 {
              min-height: auto;
            }

            display: inline-flex;
            flex-direction: column;
            justify-content: center;

            &.portal-icons {

              min-height: auto;
              flex-direction: row;

              img:not(:last-child) {
                margin-right: 4px;
              }
            }

            .val-with-link {
              min-height: 70px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
            }
          }
        }

        // The buttons get styled differently for all the different breakpoints.
        &:last-child {

          @media @bp1 {
            height: auto;
            .td-div {
              > div {
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                min-height: auto;
              }
              .btn {
                margin-bottom: 0;
              }
            }
          }

          @media @bp2 {

            .td-div {
              > div {
                flex-direction: column;
                width: 100%;
                min-height: auto;
              }
              .btn {
                width: 100%;
                &:not(:last-child) {
                  margin-bottom: 8px;
                }
              }
            }
          }
        }
      }
    }
  }

  .btn {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 187px;
    height: 36px;
    font-size: @baseFontSize;
    letter-spacing: .05rem;
    color: white;
    background-color: @linkColor;

    > div {
      width: 145px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    i {
      font-size: 18px;
      margin-right: 18px;
      width: 20px;
    }
  }
}
